body {
  background-color: #FFFFFF;
  color: black;
}
#top img {
  width: 15%;
  float: left;
  border-radius: 50%
}
#top {
  padding: 10x;
  border: 5px solid #999999;
  text-align: center;
  text-decoration: underline;
  font-size: 200%;
  background-color: #000000;
  color: white;
  margin: 10px;
}
#Pictures{
  width:40%;
  float:left;
}
#Pictures img{
  width: 85%;
  border: 5px solid #999999;
  margin: 20px;
}
